/*body {*/
/*    font-family: sans-serif;*/
/*}*/

.wrap3d {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3d {
    width: 50%;
    height: 50%;
    position: relative;
    perspective: 1500px;
}

.front3d, .back3d {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;

}

.front3d {
    background-color: #EEE;
}

.back3d {
    background-color: #BDBDBD;
    transform: rotateX(180deg);

}

.card3d:hover .front3d {
    transform: rotateX(180deg);
}

.card3d:hover .back3d {
    transform: rotateX(360deg);
}

/*.card3d:active .front3d {*/
/*    transform: rotateX(180deg);*/
/*}*/

/*.card3d:active .back3d {*/
/*    transform: rotateX(360deg);*/
/*}*/