<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Parts/base :: common_header(~{::title},~{})">
    <title>QSTN Main</title>
</head>
<body>
<div style="
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
">
    <div class="h4 text-center" >Какая-то очень красивая картинка <br>и очень полезная информация</div>
</div>

<th:block th:insert="~{Parts/base :: navbar}" />
<th:block th:insert="~{Parts/base :: jslinks}" />
</body>
</html>