<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Parts/base :: common_header(~{::title},~{})">
    <title>QSTN Languages</title>
</head>
<body>
<th:block th:insert="~{Parts/base :: navbar}"/>

<div class="container my-3">
    <form method="post" th:action="@{/languages/add}">
        <div class="form-row my-2">
            <label class="col">
                <input class="form-control" name="name" placeholder="Name of new language" type="text">
            </label>
            <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                <button class="btn btn-primary btn-block" type="submit">Add</button>
            </div>
        </div>
    </form>

    <div>
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <td>
                    <div class="row">
                        <div class="col">Name</div>
                        <div class="col-4 col-sm-3 col-md-3 col-lg-2"></div>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="language :${languages}">
                <td>
                    <div class="row">
                        <div class="col" th:text="${language.name}"></div>
                        <div class="col-4 col-sm-3 col-md-3 col-lg-2" style="text-align: right">
                            <a class="badge badge-success languageEdit" th:href="@{/languages/find/{id}(id=${language.id})}">edit</a>
                            <a class="badge badge-danger" th:href="@{'/languages/remove/' + ${language.id}}">del</a>
<!--                            <a data-confirm="Are you sure?" data-method="delete" th:href="@{/languages/{id}(id=${language.id})}" rel="nofollow">Delete</a>-->
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal "Edit language" -->
<div class="formEditLanguage">
    <form method="post" th:action="@{/languages/edit}">
        <div class="modal fade" id="formModalEditLanguage" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title mx-3">Edit language</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group mx-3">
                                <label class="control-label" for="languageNameInput">Name</label>
                                <input class="form-control" id="languageNameInput" name="name" type="text"/>
                                <input class="form-control" id="languageIdInput" name="id" type="hidden"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<th:block th:insert="~{Parts/base :: jslinks}"/>

<!--Fill fields in modal by button "Edit"-->
<script>
    $(document).ready(function () {
        $('.languageEdit').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');

            $.get(href, function (language) {
                $('#languageIdInput').val(language.id);
                $('#languageNameInput').val(language.name);
            });
            $('#formModalEditLanguage').modal();
        });
    });
</script>

</body>
</html>