<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Parts/base :: common_header(~{::title},~{::link})">
    <title>QSTN PlayWordCards</title>
    <link rel="stylesheet" href="/card3d.css">
</head>
<body>

<div class="wrap3d">
    <div class="card3d" >
        <div class="back3d"><span th:text="${randomWordCard.translated}"></span></div>
        <div class="front3d"><span th:text="${randomWordCard.text}"></span></div>
    </div>
</div>

<th:block th:insert="~{Parts/base :: navbar}" />
<th:block th:insert="~{Parts/base :: jslinks}" />
</body>
</html>