<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/base :: common_header(~{::title},~{::link})">
    <title>QSTN PlayWordCards</title>
    <link href="/card3d.css" rel="stylesheet">
    <link href="/myCSS.css" rel="stylesheet">
</head>
<body>

<div class="wrap3d">
    <div class="card3d">
        <div class="back3d"><span th:utext="${wordCard.answer}"></span></div>
        <div class="front3d"><span th:utext="${wordCard.question}"></span></div>
    </div>
</div>

<th:block th:insert="~{parts/base :: navbar}"/>

<div class="container">
    <div class="row mb-3"></div>
    <form method="get" th:action="@{/wordCards/play}">
        <div class="form-row justify-content-center">
            <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <select class="form-control" id="filterLanguage" name="filterLanguageId">
                    <option value="">Все</option>
                    <option th:each="language :${languages}" th:text="${language.name}" th:value="${language.id}"></option>
                </select>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                <button class="btn btn-primary btn-block" type="submit">Next</button>
            </div>
        </div>
    </form>
</div>

<th:block th:insert="~{parts/base :: jslinks}"/>

<!--Set value to filterLanguageId-->
<script th:inline="javascript">
    const filteredLanguage = [[${filterLanguageId}]];
    const elems = document.getElementById("filterLanguage").options;
    for (let i = 0; i < elems.length; i++) {
        if (elems[i].value == filteredLanguage) {
            elems[i].selected = "selected";
        }
    }
</script>

</body>
</html>