<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="Parts/base :: common_header(~{::title},~{})">-->
<head th:replace="Parts/base :: common_header(~{::title},~{})">
    <title>QSTN WordCards</title>
</head>
<body>
<th:block th:insert="~{Parts/base :: navbar}"/>

<div class="container my-3">

    <form enctype="multipart/form-data" method="post" th:action="@{/wordCards/addFromFile}">
        <div class="form-row mb-2 mb-md-0">
            <label class="col-12 col-md">
                <input class="form-control" id="customFile" name="file" type="file"/>
                <label class="custom-file-label mx-1" for="customFile">Choose file</label>
            </label>
            <label class="col-6 col-md-2 col-lg-2">
                <select class="form-control" name="languageId">
                    <option value="">Language</option>
                    <option th:each="language :${languages}" th:text="${language.name}" th:value="${language.id}"></option>
                </select>
            </label>
            <div class="col-3 col-md-2 col-lg-1">
                <button class="btn btn-success btn-block" type="submit">Load</button>
            </div>
            <div class="col-3 col-md-2 col-lg-1">
                <button class="btn btn-dark btn-block" data-target="#ModalRemoveAllWordCards" data-toggle="modal" type="button">DelAll</button>
            </div>
        </div>
    </form>

    <form method="post" th:action="@{/wordCards/add}">
        <div class="form-row mb-3 mb-md-0">
            <label class="col-4 col-md-2">
                <input class="form-control" name="question" placeholder="New question" type="text">
            </label>
            <label class="col-8 col-md">
                <input class="form-control" name="answer" placeholder="New answer" type="text">
            </label>
            <div class="col-6 col-md-2 col-lg-2">
                <select class="form-control" name="languageId">
                    <option value="">Language</option>
                    <option th:each="language :${languages}" th:text="${language.name}" th:value="${language.id}"></option>
                </select>
            </div>
            <div class="col-3 col-md-2 col-lg-1">
                <button class="btn btn-primary btn-block" type="submit">Add</button>
            </div>
            <div class="col-3 col-md-2 col-lg-1">
                <button class="btn btn-secondary btn-block" data-target="#ModalRemoveDuplicateWordCards" data-toggle="modal" type="button">Clean</button>
            </div>
        </div>
    </form>

    <form method="get" th:action="@{/wordCards}">
        <div class="form-row mb-3 mb-md-0">
            <label class="col-4 col-md-2">
                <input class="form-control" id="filterQuestionId" name="filterQuestion" th:value="${filterQuestion}" type="text">
            </label>
            <label class="col-8 col-md">
                <input class="form-control" id="filterAnswerId" name="filterAnswer" th:value="${filterAnswer}" type="text">
            </label>
            <div class="col-6 col-md-2 col-lg-2">
                <select class="form-control" id="filterLanguage" name="filterLanguageId">
                    <option value="">All</option>
                    <option th:each="language :${languages}" th:text="${language.name}" th:value="${language.id}"></option>
                </select>
            </div>
            <div class="col-3 col-md-2 col-lg-1">
                <button class="btn btn-light btn-block" type="submit">Filter</button>
            </div>
            <div class="col-3 col-md-2 col-lg-1">
                <button class="btn btn-block" onclick="return clearFilter();" type="button">Reset</button>
            </div>
        </div>
    </form>

    <div>
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-4 col-md-2">Question</div>
                        <div class="col-4 col-md">Answer</div>
                        <div class="col-4 col-md-2">Language</div>
                        <div class="col-0 col-md-2"></div>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i :${#numbers.sequence(wordCards.size() - 1, 0, -1)}" th:with="wordCard=${wordCards[i]}">
                <td>
                    <div class="row">
                        <div class="col-12 col-md-2" th:utext="${wordCard.question}"></div>
                        <div class="col-12 col-md" th:utext="${wordCard.answer}"></div>
                        <div class="col col-md-2" th:text="${wordCard.language.name}"></div>
                        <div class="col col-md-2" style="text-align: right">
                            <a class="badge badge-success wordCardEdit" th:href="@{/wordCards/find/{id}(id=${wordCard.id})}">edit</a>
                            <a class="badge badge-danger" th:href="@{'/wordCards/remove/' + ${wordCard.id}}">del</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal "Edit wordCard" -->
<div class="formEditWordCard">
    <form method="post" th:action="@{/wordCards/edit}">
        <div class="modal fade" id="formModalEditWordCard" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit wordCard</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group mx-3">
                                <label class="control-label" for="wordCardLanguageSelect">Language</label>
                                <select class="form-control" id="wordCardLanguageSelect" name="languageId">
                                    <option value="">---</option>
                                    <option th:each="language :${languages}" th:text="${language.name}"
                                            th:value="${language.id}"></option>
                                </select>
                                <label class="control-label" for="wordCardQuestionInput">Question</label>
                                <textarea class="form-control" id="wordCardQuestionInput" name="question"></textarea>
                                <label class="control-label mt-2" for="wordCardAnswerInput">Answer</label>
                                <textarea class="form-control" id="wordCardAnswerInput" name="answer" rows="7"></textarea>
                                <input class="form-control" id="wordCardIdInput" name="id" type="hidden"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal question "Remove all WordCards" -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="ModalRemoveAllWordCards" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove ALL WordCards</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body center">
                Are you seriously?
            </div>
            <div class="modal-footer">
                <form method="get" th:action="@{/wordCards/removeAll}">
                    <button class="btn btn-light" type="submit">yes</button>
                </form>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">NO!</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal question "Remove duplicate WordCards" -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="ModalRemoveDuplicateWordCards" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove duplicate WordCards</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body center">
                Are you sure you want to...
            </div>
            <div class="modal-footer">
                <form method="get" th:action="@{/wordCards/removeDuplicates}">
                    <button class="btn btn-light" type="submit">yes</button>
                </form>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">NO!</button>
            </div>
        </div>
    </div>
</div>


<th:block th:insert="~{Parts/base :: jslinks}"/>

<!--Set value to filterLanguageId-->
<script th:inline="javascript">
    var filteredLanguage = [[${filterLanguageId}]];
    var elems = document.getElementById("filterLanguage").options;
    for (var i = 0; i < elems.length; i++) {
        if (elems[i].value === filteredLanguage) {
            elems[i].selected = "selected";
        }
    }
</script>

<!--Clear filter fields by button "Reset"-->
<script>
    function clearFilter() {
        document.getElementById("filterQuestionId").value = "";
        document.getElementById("filterAnswerId").value = "";
        document.getElementById("filterLanguage").value = "";
        return true;
    }
</script>

<!--Fill fields in modal by button "Edit"-->
<script>
    $(document).ready(function () {
        $('.wordCardEdit').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');

            $.get(href, function (wordCard) {
                $('#wordCardIdInput').val(wordCard.id);
                $('#wordCardQuestionInput').val(wordCard.question);
                $('#wordCardAnswerInput').val(wordCard.answer);
                $('#wordCardLanguageSelect').val(wordCard.language.id);
            });
            $('#formModalEditWordCard').modal();
        });
    });
</script>

<!--TODO При выборе фильтра ощищать другие поля фильтра-->

</body>
</html>
